go/home/__pycache__/__init__.cpython-38.pyc
go/home/__pycache__/admin.cpython-38.pyc
go/home/__pycache__/apps.cpython-38.pyc
go/home/__pycache__/models.cpython-38.pyc
go/home/__pycache__/urls.cpython-38.pyc
go/home/__pycache__/views.cpython-38.pyc
go/home/migrations/__pycache__/__init__.cpython-38.pyc
go/go/__pycache__/settings.cpython-38.pyc
go/go/__pycache__/urls.cpython-38.pyc
